@import '../../_style/index.less';
.list-item-wrapper{
  background: @fill-base;
  min-height: 44 * @hd;
  padding: 10*@hd 12*@hd;
  position: relative;
  display: flex;
  &-split::after{
    content: '';
    display: block;
    position: absolute;
    width: calc(~'100% - 12*@{hd}');
    height: 1px;
    background-color: @split-line;
    transform: scaleY(.5);
    bottom: 0;
    right: 0;
  }

  &-label{
    color: @input-label-color;
    font-size: @input-font-size;
    display: flex;
    align-items: center;
    &.required::after {
      content: "*";
      color: @brand-primary;
      font-family: SimSun;
      padding-left: 3*@hd;
      vertical-align: top;
    }
  }

  &.single-line{
    justify-content: space-between;
    .list-item-wrapper-contetnt{
      display: inline-flex;
      align-items: center;
    }
  }

  &.multiple-line{
    flex-direction: column;
  }
}
