@import '../../_style/index.less';
@footerPrefixCls: am-footer;
.@{footerPrefixCls} {
  position: fixed;
  bottom: 0;
  height: auto;
  background: #fff;
  min-height: 20*@hd;
  padding: 5*@hd 0;
  width: 100%;
}
