@import '../../_style/index.less';
@footerPrefixCls: am-footer;
.@{footerPrefixCls} {
  position: absolute;
  bottom: 0;
  height: auto !important;
  background: @fill-base;
  min-height: 20*@hd;
  width: 100%;
  z-index: 2;
}
