@import '../../_style/index.less';

.yonui-panel{
  box-sizing: border-box;
  .panel-title{
    background-color: @fill-body;
    height: 66 * @hd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16 * @hd;
    color: @color-text-base;
  }
  .panel-content{
    background-color: @fill-body;

    &-items{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 18 * @hd;
      position: relative;
      overflow: auto;
      &:not(:last-child)::after{
        content: "";
        position: absolute;
        background-color: @link-button-fill-tap;
        display: block;
        z-index: 1;
        bottom: 9 * @hd;
        right: 0;
        width: 100%;
        height: 1*@hd;
        transform: scaleY(0.4);
      }
      &.panel-content-more{
        justify-content: normal;
        .panel-content-item{
          min-width: 18%;
        }
      }
    }
    &-item{
      display: inline-flex;
      min-width: 20%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item-icon-wrapper{
        width: 56 * @hd;
        height: 56 * @hd;
        background-color: @fill-base;
        padding: 12 * @hd;
        box-sizing: border-box;
        border-radius: @radius-md;
        .item-icon{
          width: 32 * @hd;
          height: 32 * @hd;
        }
      }
      .item-icon-title{
        font-size: @font-size-caption-sm;
        margin: 5 * @hd 0;
      }
    }
  }
  .panel-footer{
    height: 50 * @hd;
    color: @color-text-base;
    font-size: 18 * @hd;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      color: @brand-primary;
    }
  }

  &-slideable{
    .panel-title{
      height: 50 * @hd;
      justify-content: normal;
      padding-left: 14 * @hd;
      margin-bottom: -14 * @hd;
    }
    .panel-content-items{
      overflow: auto;
      padding-bottom: 7 * @hd;
      padding-top: 14 * @hd;
      justify-content: normal;
      &:not(:last-child)::after{
        bottom: 0;
      }
    }
  }
}
