@import '../../_style/index.less';

@checkboxWarpPrefixCls: am-checkbox;
.@{checkboxWarpPrefixCls}-square{
  .@{checkboxWarpPrefixCls} {
    &-inner {
      width:@icon-size-xs;
      height:@icon-size-xs;
      border-radius: @radius-xs;
      &:after {
        top: -0.6*@hd;
        right: 5*@hd;
      }
    }
  }
}
.@{checkboxWarpPrefixCls}{
  margin: 4*@hd;
}
