@bodyWidth: 100%;
@primary-color:#fff;
@primary-background:blue;
@ghost-color:#333;
@ghost-background:green;
@primary-background: transparent;
@warning-color:#fff;
@warning-background:red;
body {
  width: @bodyWidth;
}
button {
  color: #333;
  background: #fff;
  &.primary-btn{
    .mixin(@primary-color,@primary-background)
  }
  &.ghost-btn{
    .mixin(@ghost-color,@ghost-background)
  }
  &.ghost-btn{
    .mixin(@warning-color,@warning-background)
  }
}
.mixin(@color,@background) {
  color: @color;
  background: @background;
}
