@import '../../_style/index.less';

@labelPrefixCls: yonui-tag;

.@{labelPrefixCls} {
  font-size: 11 * @hd;
  display: inline-flex;
  // padding-top: 3.5 * @hd;
  // padding-bottom: 3.5 * @hd;
  // padding-left: 4 * @hd;
  // padding-right: 4 * @hd;
  // text-align: center;
  justify-content: center;
  align-items: center;
  // min-width: 32 * @hd;
  // line-height: 11 * @hd;
  border-radius: 2 * @hd;
  .yonui-mobile-tag-text{
    white-space: nowrap;
  }
  &.label-type{
    font-size: 16 * @hd;
    border-radius: 0;
    width: 100%;
    line-height: normal;
    // text-align: left;
    justify-content: flex-start;
  }
}
