@import '../../_style/index.less';

.yonui-card-box{

  .yonui-card-box-btn{
    background-color: @brand-primary;
    color: @color-text-base-inverse;
  }
  .am-swipe-content{
    padding: 5 * @hd;
  }
}
