@import '../../_style/index.less';
@import '../../label/style/index.less';
@import '../../input-yonui/style/index.less';
@import '../../list-item-wrapper/style/index.less';

.yonui-mobile-hyperlinks {
  .list-item-wrapper-label {
    flex: 1;
    margin-right: 0.2rem;
  }

  .list-item-wrapper-content {
    flex: 3;
  }

  .yonui-mobile-hyperlinks-content {
    width: 100%;
  }

  .yonui-mobile-hyperlinks-label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .am-list-item {
    padding: 1px 2px;
  }

  .am-textarea-item .am-textarea-control textarea {
    text-align: right;
  }
}

