@import '../../_style/index.less';
.date-panel-picker {
  .operation {
    padding: 15*@hd;
    text-align: left;
    color: @color-text-base;
    .confirm {
      float: right;
      color: @brand-primary;
    }
  }
}

