@import '../../_style/index.less';

@resultPrefixCls: am-result;

.@{resultPrefixCls} {
  & &-pic {
    width: @hd*120;
    height: @hd*120;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
      width: 100%;
    }
  }
}
