@import '../../_style/index.less';

@resultPrefixCls: am-result;

.@{resultPrefixCls} {
  & &-pic {
    width: @hd*120;
    height: @hd*120;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
      width: 100%;
    }
  }
}
// :global(.am-result.empty-page) {
//   :global(.am-result-pic) {
//     width: 240*@hd;
//     height: 240*@hd;
//     :global(img) {
//       width: 240*@hd;
//       height: 240*@hd;
//     }
//   }
//   :global(.am-result-message) {
//     margin-top: 9*@hd;
//     font-size: 16*@hd;
//   }
// }
