@import '../../_style/index.less';

.yonui-popover-default-content {
  display: inline-block;
  min-width: 0.5rem;
  min-height: 0.5rem;
  font-size: 0;
}

.yonui-popover-item {
  height: 0.8rem;
  margin: 0 0.2rem;
  display: flex;
  align-items: center;


  .yonui-popover-item-text {
    height: 100%;
    flex: 1;
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.26rem;
  }
}

.yonui-popover-item:last-child .yonui-popover-item-text {
  border-bottom: 0
}
