.sub-title {
  color: #888;
  font-size: 14*@hd;
  padding: 15*@hd 0 9*@hd 15*@hd;
}
.content-demo {
  overflow: hidden;
  #_Grid_demo{
    height: 100%;
    transform: rotate(0deg);
  }
  .grid-demo {
    height: 100%;
    overflow-y: auto;
  }
}
