.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}
.content-demo {
  overflow: hidden;
  #_Grid_demo{
    height: 100%;
    transform: rotate(0deg);
  }
  .grid-demo {
    height: 100%;
    overflow-y: auto;
  }
}