@import '../../_style/index.less';
@TextAreaPrefixClass: am-textarea;
div[uitype='TextareaItem'] {
  width: 100%;
}
.@{TextAreaPrefixClass}-item {
  .@{TextAreaPrefixClass}-control textarea {
    font-size: @input-font-size;
  }
}