@import '../../_style/index.less';
@import '../../list-item-wrapper/style/index.less';
@import '../../input-yonui/style/index.less';

.yonui-contact{
  display: inline-flex;

}
.yonui-contact-button{
  border: none;
  color: @color-text-input;
  background-color: @fill-base;
  padding-top: 1*@hd ;
  font-size: 15*@hd;
  line-height: 1.5;
}

