@import '../../_style/index.less';
@CalendarPanelPrefixClass : am-calendar-panel;
.@{CalendarPanelPrefixClass} {
  &.@{CalendarPanelPrefixClass}-range {
    .react-calendar__year-view__months__month:hover,.react-calendar__month-view__days__day:hover {
      color: #fff;
    }
    .react-calendar__tile--hover {
      background-color: transparent;
    }
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background-color: @brand-primary;
    }
    .react-calendar__tile--hasActive,
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
      &.react-calendar__year-view__months__month {
        &.react-calendar__tile--rangeStart,&.react-calendar__tile--rangeEnd{
          border-radius: 0;
        }
      }
      &.react-calendar__month-view__days__day{
        background-color: @brand-primary;
        &.react-calendar__tile--rangeEnd{
          border-radius: 0 50% 50% 0;
          >abbr {
            border-radius: 0;
          }
        }
        &.react-calendar__tile--rangeStart{
          border-radius: 50% 0 0 50%;
          >abbr {
            border-radius: 0;
          }
        }
      }  
    }
    .react-calendar__tile--active.am-calendar-panel-item {
      &.react-calendar__month-view__days__day{
        background-color: @brand-primary;  
        &.react-calendar__tile--rangeEnd{
          border-radius: 0 50% 50% 0;
          >abbr {
            border-radius: 0;
          }
        }
        &.react-calendar__tile--rangeStart{
          border-radius: 50% 0 0 50%;
          >abbr {
            border-radius: 0;
          }
        }
      }
      
    }
  }
  width: 100%;
  .react-calendar__navigation button {
    font-size: 15*@hd;
    color: #666;
  }
  .react-calendar__navigation button[disabled] {
    background: transparent;
  }
  .react-calendar__month-view__weekdays {
    font-size: 12*@hd;
    color: #333;
  }
  .react-calendar__month-view__days {
    padding: 9*@hd 0;
    color: #333;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #111;
  }
  .react-calendar__tile--hasActive,
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    &.react-calendar__year-view__months__month {
      background-color: @brand-primary;
      >abbr {
        font-size: 16*@hd;
        color: #fff;
      }
    }
    &.react-calendar__month-view__days__day{
      background-color: transparent;
      >abbr {
          background-color: @brand-primary;
          color: #fff;
      }
    }
   
  }
  .react-calendar__tile--active {
    &.react-calendar__month-view__days__day--weekend {
      color: #fff;
    }
    &.@{CalendarPanelPrefixClass}-item {
      background-color: transparent;
      >abbr {
        background-color: @brand-primary;
      }  
    }
  }
  .react-calendar__navigation__arrow {
    &.react-calendar__navigation__prev2-button {
      display: none;
    }
    &.react-calendar__navigation__next2-button {
      display: none;
    }
  }

  .react-calendar__tile {
    font-size: 16*@hd;
  }
  .react-calendar__tile:disabled {
    background-color: transparent;
    >abbr {
      background: linear-gradient(to bottom, rgba(160, 162, 168, 1) 0%, rgba(117, 127, 140, 1) 100%);
      // background-color: #A0A2A8;
      color: #fff;
    }
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: transparent;
  }
  .react-calendar__month-view__days__day{
    &.@{CalendarPanelPrefixClass}-item {
      padding: 5*@hd;
      >abbr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45*@hd;
        height: 45*@hd;
        border-radius: 100%;
      }
    }
  }
  
}
