@import '../../_style/index.less';
@CalendarPrefixClass: am-calendar;
.am-calendar-panel{
  height: 100%;
  .@{CalendarPrefixClass} .single-month {
    .row {
      .cell {
        .date-wrapper{
          .date.important{
            border: none;
            border-radius: unset;
          }
        }
        .info {
          height: @font-size-icontext + 5*@hd;
          color: @brand-primary;
        }
      }
    }
  }
  .@{CalendarPrefixClass} {
    position: relative;
    height: 100%;
    .mask{
      display: none !important;
    }
    .header{
      display: none;
    }
    .content{
      position: absolute;
      .confirm-panel{
        display: none;
      }
    }
  }
}

