@import '~antd-mobile/lib/calendar/style/index.less';
@import '../../_style/index.less';
@CalendarPrefixClass: am-calendar;
.@{CalendarPrefixClass} .single-month {
  .row {
    .cell {
      .info {
        height: @font-size-icontext + 5*@hd;
      }
    }
  }
}
.@{CalendarPrefixClass} {
  .header .left,.header .right{
    color: @brand-primary;
  }
}
