@import '../../_style/index.less';
@CalendarPrefixClass: am-calendar;
.@{CalendarPrefixClass} .single-month {
  .row {
    .cell {
      .date-wrapper{
        .date.important{
            background: rgba(220,220,220,0.2);
            border:none;
            border-radius: 0;
            &.date-selected{
              border: none;
              background: #E14C46;
              color: #fff;
              font-size: 0.34rem;
            }
        }        
      }
      .info {
        height: @font-size-icontext + 5*@hd;
        color: @brand-primary;
      }
    }
  }
}
.@{CalendarPrefixClass} {
  height: 100%;
  .mask{
    display: none !important;
  }
  .content{
    position: absolute;
  }
  .header .left,.header .right{
    color: @brand-primary;
  }
}
