@import '../../_style/index.less';
@import '../../list-item-wrapper/style/index.less';
@import '../../input-yonui/style/index.less';
.mdf-input {
  .am-list-body {
    background: transparent;
  }
  .am-list-item {
    background: transparent;
    &.am-input-item{
      padding-left: 0;
      .am-list-line{
        padding-right: 0;
        .am-input-label{
          margin: 0;
        }
        .am-input-clear{
          background-image: url('./1111.png');
          width: 24*@hd;
          height: 24*@hd;
          background-size: 24*@hd;
          margin-left: 4*@hd;
          background-position: 0 0;
          background-color: @fill-base;
        }
      }
    }
  }
  .am-input-control input {
    font-size: @input-font-size;
    text-align: right;
    color: @input-content-color;
  }

  .mdf-input-content{
    min-height: 0;
    height: auto;
  }

  &.multiple-line{
    .mdf-input-content{
      input{
        text-align: left;
      }
    }
  }
  &.single-line-center{
    padding-left:0;
    .list-item-wrapper-label{
      flex: 1;
      justify-content: flex-end;
      white-space: nowrap;
      margin-right: 10*@hd;
    }
    .list-item-wrapper-content{
      flex: 3;
      .yonui-input{
        input{
          text-align: left;
        }
      }
    }

  }
  &.single-line-left{
    .list-item-wrapper-label{
      flex: 1;
      white-space: nowrap;
      margin-right: 10*@hd;
    }
    .list-item-wrapper-content{
      flex: 3;
      .yonui-input{
        input{
          text-align: left;
        }
      }
    }
  }
  &.single-line-right{
    .list-item-wrapper-label{
      flex: 1;
      white-space: nowrap;
      margin-right: 10*@hd;
    }
    .list-item-wrapper-content{
      flex: 3;
      .yonui-input{
        input{
          text-align: right;
        }
      }
    }
  }

}
div[uitype='Input'] {
  width: 100%;
}
