@import '../../_style/index.less';
.mdf-input {
  .am-input-control input {
    font-size: @input-font-size;
    text-align: right;
  }
  &.required {
    .am-list-item .am-input-label.am-input-label-2 {
      width: 30*@hd + 15*@hd;
    }
    .am-list-item .am-input-label.am-input-label-3 {
      width: 45*@hd + 15*@hd;
    }
    .am-list-item .am-input-label.am-input-label-4 {
      width: 60*@hd + 15*@hd;
    }
    .am-list-item .am-input-label.am-input-label-5 {
      width: 75*@hd + 15*@hd;
    }
    .am-list-item .am-input-label.am-input-label-6 {
      width: 90*@hd + 15*@hd;
    }
    .am-list-item .am-input-label.am-input-label-7 {
      width: 105*@hd + 15*@hd;
    }
  }
  
}
div[uitype='Input'] {
  width: 100%;
}
