@import '~antd-mobile/dist/antd-mobile.less';
@import './theme/default.less';

// 表单项-必填样式-*
.form-label-required {
  content: "*";
  color: @brand-primary;
  font-family: SimSun;
  padding-left: 4*@hd;
}
.form-label{
  color: @color-text-base;
  &.required::after {
    .form-label-required
  }
}
