@import '../../_style/index.less';

.yonui-input{
  display: inline-flex;
  .yonui-input-box{
    border: none;
    color: @color-text-input;
    font-size: 15*@hd;
    width: 100%;
    line-height: 1.5;
  }
}
