@import '../../_style/index.less';
@import '../../list-item-wrapper/style/index.less';

.lsit-item-display-label-area{
  display: flex;
  flex-direction: column;
  // .lsit-item-display-label{

  // }
  .lsit-item-display-sublabel{
    font-size: 12px;
    color: #555555;
  }
}
