@import '../../_style/index.less';
@gridPrefixCls: am-grid;
.@{gridPrefixCls} {
  &.@{gridPrefixCls}-full{
    margin: 0 12.5*@hd;
    background: #fff;
    border-radius: 5*@hd;
  }
  &.@{gridPrefixCls}-sm{
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 28%!important;
    }
  }
  &.@{gridPrefixCls}-md {
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 48%!important;
    }
  }
  &.@{gridPrefixCls}-lg {
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 68%!important;
    }
  }
  &.@{gridPrefixCls}-outContent, &.@{gridPrefixCls}-full{
    .am-flexbox {
      background: transparent;
    }
  }
  .am-flexbox-item{
    &.@{gridPrefixCls}-item {
      padding-top: 10*@hd;
      padding-bottom: 10*@hd;
    }
  }
  .custom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .out-content {
    width: 70%;
    height: 80%;
    border-radius: 4*@hd;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .custom-text {
    font-size: 12*@hd;
  }
  .custom-grid-icon {
    width: 50%;
  }
}

