@import '../../_style/index.less';
.yonui-grid-wrapper{
  overflow: hidden;
}
.yonui-grid{
  .yonui-grid-icon{
    margin: auto;
    &-lg{
      height: 0.55rem;
      width: 0.55rem;
    }
    &-md{
      height: 0.48rem;
      width: 0.48rem;
    }
    &-sm{
      height: 0.4rem;
      width: 0.4rem;
    }
  }
  .am-badge-text{
    background-color: @brand-primary;
    height: 0.28rem;
    line-height: 0.28rem;
  }
  .yonui-grid-text{
    color: @color-text-caption;
    font-size: @font-size-caption-sm;
  }
  .am-carousel .am-carousel-wrap{
    .am-carousel-wrap-dot{
      span{
        height: 0.06rem;
        width: 0.1rem;
        border-radius: 0.02rem;
      }
      &-active{
        span{
          background-color: @brand-primary;
          width: 0.2rem;
          height: 0.06rem;
          border-radius: 0.02rem;
        }
      }
    }
  }
  .am-flexbox{
    background: transparent;
  }
}