@import '../../_style/index.less';
@gridPrefixCls: am-grid;
@mdfGridPrefixCls: mdf-grid;
.@{mdfGridPrefixCls} {
  background: #fff;
  &.@{mdfGridPrefixCls}-transparent {
    background: transparent;
  }
  &.@{mdfGridPrefixCls}-not-full{
    margin: 0 12.5*@hd;
    border-radius: 5*@hd;
  }
  .@{gridPrefixCls} {
    .am-carousel .am-carousel-wrap-dot-active > span {
      background: @brand-primary!important;
    }
  }  
}
.@{gridPrefixCls} {
  background: transparent;
  .am-grid-carousel-page {
    .am-flexbox {
      background: transparent;
    }
  }
  .am-flexbox {
    background: transparent;
  }
  &.@{gridPrefixCls}-sm.@{gridPrefixCls}-square{
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 28%!important;
    }
  }
  &.@{gridPrefixCls}-md.@{gridPrefixCls}-square {
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 48%!important;
    }
  }
  &.@{gridPrefixCls}-lg.@{gridPrefixCls}-square{
    .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 68%!important;
    }
  }
  &.@{gridPrefixCls}-outContent {
    .am-flexbox-item.am-grid-item {
      padding-top: 10*@hd;
      padding-bottom: 10*@hd;
     }
  }
  &.@{gridPrefixCls}-number{
    &.@{gridPrefixCls}-outContent {
      .custom-item {
        height: 90%;
       }
       .am-flexbox-item.am-grid-item {
        padding-top: 10*@hd;
        padding-bottom: 10*@hd;
       }
       .am-flexbox .am-flexbox-item .am-grid-item-content {
         height: 100%;
       }
    }
    .custom-item {
     height: auto;
    }
    .am-flexbox-item.am-grid-item {
      padding: 0;
    }
    .am-flexbox .am-flexbox-item .am-grid-item-content {
      height: auto;
    }
    .content-number{
      font-size: 18*@hd;
      color: #fff;
    }
    .custom-text {
      color: #fff;
    }
  }
  .custom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .out-content {
    width: 60%;
    height: 70%;
    border-radius: 4*@hd;
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .custom-text {
    font-size: 12*@hd;
  }
  .custom-grid-icon {
    width: 50%;
  }
}
div[uitype="Grid"] {
  width: 100%;
}
