@import '../../_style/index.less';


@resultPrefixCls: am-result;

.@{resultPrefixCls} {
  & &-pic {
    width: 160*@hd;
    height: 206*@hd;
    img {
      width: 160*@hd;
      height: 206*@hd;
    }
  }
  & &-message {
    margin-top: 9*@hd;
    font-size: 16*@hd;
  }
}

